body{
    background: hsl(0, 0%, 9%);
    color: #fff;
    break-inside: avoid;
    font-family: 'Trebuchet MS', -apple-system, 'Lucida Sans', Arial, sans-serif;
}
footer{
    padding: 10px;
    text-align: center;
    border: solid 1px wheat;
    border-radius: 10px;
}
.headBanner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(255, 99, 71, 0.685) solid 2px;
}

.navbar{
    border: solid 1px rgba(245, 222, 179, 0.301);
    border-radius: 4px;
    padding: 10px;
    align-self: flex-end;
    margin: 5px;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar a:hover{
    background: hsl(263, 69%, 14%);
    border-radius: 5px;
}
.mainContent{
    background: hsla(0, 4%, 21%, 0.808);
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgb(5, 3, 3) 0px 0.6px 2px;
    padding: 10px;
    
}
.card{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    break-inside: avoid;
    margin-bottom: 5px;
}
figure{
    border-radius: 8px;
    background: hsl(0, 0%, 9%);
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 18spx;
}
figure img{
    height: 180px;
    width: 180px;
}
.comics, .digital-art, .tutorials, .timeline, .logIn{
    background: hsl(263, 69%, 14%);
    padding: 5px;
    margin: 5px;
}
#tutorials-content, #digital-art, #comics, #userData{
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}
#account{
    border-radius: 50%;
}